body {
  height: 100vh;
  width: 100wh;
}

.page {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content-container {
  width: 100vh;
  height: 100vh;
}

.portfolio-row {
  display: flex;
  justify-content: space-around;
}

.portfolio-img-wrapper {
  width: 30%;
  height: 300px;
}

.portfolio-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
