body {
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
}

.content-container {
  width: 90%;
  /* min-height: 100vh; */
  box-sizing: border-box;
  /* display: flex;
  justify-content: center; */
}

.about-section {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.about-text {
  flex: 2;
}

.profile-img-wrapper {
  flex: 1;
  height: 300px;
  text-align: right;
  margin-left: 20px;
  /* display: flex;
  align-items: center; */
}

.profile-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;

  margin: 0;
  padding: 0;
  border: 5px solid #53b0cf;
  border-radius: 10px;
}

.portfolio-row {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

.portfolio-img-wrapper {
  width: 30%;
  height: 300px;
  text-align: center;
}

.portfolio-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-contact {
  width: 100%;
}

.about-contact-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.portfolio-section {
  padding: 20px 0;
}
